<%= render 'shared/navbar' %>
<div class="big-nav-bar">
  <%= render 'shared/text-intro' %>
  <%= image_tag "hero", alt: "formation", class:"hero" %>
</div>

<div class="container">
<div class="class-main">
  <div class="title1">
  <h1>Les fonctionnalités</h1>
    <%= render 'shared/fleche-bas' %>
  </div>
  <div class="card-features mt-5">
    <%= render 'shared/card-features1' %>
  </div>
  <div class="card-features mt-5 mb-5">
    <%= render 'shared/card-features2' %>
  </div>
</div>
</div>

