<h1><%= @formation.name %></h1>
<% if student_signed_in? %>
<ul>
<% @formation.lessons.each do |lesson| %>
<li><%= link_to lesson.name, lesson_path(lesson)  %></li>
<% end %>
</ul>
<% elsif teacher_signed_in? && @formation.teacher_id == current_teacher.id %>
<ul>
<% @formation.lessons.each do |lesson| %>
<li><%= link_to lesson.name, lesson_path(lesson)  %></li>
<% end %>
</ul>
<%= link_to "Ajouter un cours", new_lesson_path(formation_id: @formation.id)  %>
<%= link_to "Modifier la formation", edit_formation_path  %>
<%= link_to "Supprimer la formation", formation_path(@formation), method: :delete, data: {confirm: "Vous êtes sûr ?"} %>
<div class="students">
  <% @students.each do |student| %>
<% if student.formation_id == @formation.id %>
<%= student.first_name %> <%= student.last_name %>
<% end %>
<% end %>
</div>
<% else %>
<ul>
<% @formation.lessons.each do |lesson| %>
<li><%= link_to lesson.name, lesson_path(lesson)  %></li>
<% end %>
</ul>
<% end %>


