<h1><%= @formation.name %></h1>
<% if @formation.teacher_id == current_teacher.id %>
<%= link_to "Ajouter un cours", new_lesson_path(formation_id: @formation.id)  %>
<%= link_to "Modifier le cours", edit_lesson_path  %>
<%= link_to "Modifier la formation", edit_formation_path  %>
<%= link_to "Supprimer la formation", formation_path(@formation), method: :delete, data: {confirm: "Vous êtes sûr ?"} %>
<% end %>
<br>
<br>
<ul>
<% @formation.lessons.each do |x| %>
<li><%= link_to x.name, "#"  %></li>
<% end %>
</ul>
