<%= render 'shared/navbar-signed-in' %>
<div class="container" id="container-for-lessons">
  <div class="my-formation-title">
    <h1 style="text-align: center;" class="title-my-formation mb-5 mt-5"><%= @formation.name %></h1>
  </div>
  <% if teacher_signed_in? && @formation.teacher_id == current_teacher.id %>
  <div class="links-teacher">
    <%= render 'shared/teachers-link-for-formation' %>
  </div>
  <div class="cours-container mt-5">
    <div class="lesson">
      <% @formation.lessons.each do |lesson| %>
      <%= render 'shared/formation-card', lesson: lesson %>
      <% end %>
    </div>
    <% else %>
    <div class="lesson">
      <% @formation.lessons.each do |lesson| %>
      <%= render 'shared/formation-card', lesson: lesson %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

